[mysqld]
ndbcluster
# IP address of the cluster management node
ndb-connectstring=172.17.0.23,172.17.0.25
[mysql_cluster]
# IP address of the cluster management node
ndb-connectstring=172.17.0.23,172.17.0.25
