[mysqld]
ndbcluster
# IP address of the cluster management node
ndb-connectstring=172.17.0.33,172.17.0.35
[mysql_cluster]
# IP address of the cluster management node
ndb-connectstring=172.17.0.33,172.17.0.35
